<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ site.title }}</title>
        <!-- Style CSS -->
        <link rel="stylesheet" href="./assets/css/calendar_style_bis.css">
        <!-- Demo CSS (No Need to include it into your project) -->
        <link rel="stylesheet" href="./assets/css/demo.min.css">
    </head>
    <body>
        <h2>{{ page.title }}</h2>

        {{ content }}
    </body>
</html>